.cust-drop.dropdown-toggle::after {
    margin-left: .355rem !important;
    vertical-align: 0.055rem !important;
}

.cust.fs-1 {
    font-size: calc(3.35rem + 1.5vw) !important;
}

.cust-fs {
    font-size: calc(1.5rem + 1vw) !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.m-min {
    margin-top: -35%;
    margin-right: -5%;
}

.w-90 {
    width: 90% !important;
}

.w-80 {
    width: 90% !important;
}

.cust-text-dark {
    color: var(--color-blurCard-text) !important;
}

.cust-lh-1_1 {
    line-height: 1.1 !important;
}

.cust-mw-fit {
    max-width: fit-content !important;
}

.border-none {
    border: none !important;
}

.secondary-light {
    background-color: var(--secondary-light);
}

.borderRadius-tr {
    border-top-right-radius: 20px;
}

.borderRadius-tl {
    border-top-left-radius: 20px;
}

.borderRadius-br {
    border-bottom-right-radius: 20px;
}

.borderRadius-bl {
    border-bottom-left-radius: 20px;
}

.text-gray {
    color: var(--color-grey) !important;
}

.gradient-bg-blue {
    background-color: transparent;
    background-image: linear-gradient(140deg, #3613FA 12%, #2CE5E5 100%);
}

/* bootstrap */

.dropdown-menu {
    display: none;
}

a.nav-link {
    border-radius: 50px;
    font-size: .875rem;
    color: var(--color-blurCard-text);
}

.dropdown:hover a.nav-link {
    background-color: var(--bs-gray-200);
}

.dropdown.show .dropdown-menu {
    left: 0;
    top: 4.5rem;
    border-radius: 0px;
}

/* accordion */
.accordion-button,
.accordion-item {
    background-color: transparent !important;
    border: none !important;
}

.accordion-button::after {
    background-image: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button.collapsed {
    color: var(--secondary-light1) !important;
}

.accordion-button:not(.collapsed) {
    color: var(--color-black) !important;
}

.accordion-header button {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.5em;
}

.accordion-body {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.66em;
}

/* carousel */
.carousel-control-prev-icon {
    background-image: url(../assets/svgs/leftArrow.svg) !important;
}

.carousel-control-next-icon {
    background-image: url(../assets/svgs/rightArrow.svg) !important;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    opacity: 1 !important;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    border-radius: 50% !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.carousel-control-prev {
    left: -2rem !important;
}

.carousel-control-next {
    right: -2rem !important;
}

@media screen and (max-width: 576px) {

    .w-80,
    .w-90 {
        width: fit-content !important;
    }

    .carousel-control-prev {
        left: 0rem !important;
    }

    .carousel-control-next {
        right: 0rem !important;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {

    .w-80,
    .w-90 {
        width: fit-content !important;
    }
}

@media screen and (max-width: 768px) {
    .dropdown:hover a.nav-link {
        background: none !important;
        padding: 0 !important;
    }

    .dropdown.show .dropdown-menu {
        left: 0;
        top: 4.5rem;
        border-radius: 0px;
        box-shadow: none !important;
        border: none !important;
    }

    .dropdown.show .dropdown-menu .container-fluid {
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    .dropdown:hover a.nav-link {
        padding: 0.5rem 1rem;
    }

    .dropdown.show .dropdown-menu {
        border-radius: 0px;
        box-shadow: none !important;
        border: none !important;
    }

    .dropdown.show .dropdown-menu .container-fluid {
        padding: 0;
    }
}