@import url(./root.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./custom.css);
@import url(./keyframes.css);

body {
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family) !important;
    color: var(--color-blurCard-text);
}

.textTwo {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

/* nav */
.gradient-btn {
    background-color: var(--gradient-btn-background);
    background-image: var(--gradient-btn-background-img);
    box-shadow: var(--gradient-btn-box-shadow);
}

/* sec-2 */
.sec-2,
.sec-3,
.sec-7 {
    mask-image: linear-gradient(to bottom,
            transparent,
            black 5%,
            black 95%,
            transparent);
    -webkit-mask-image: linear-gradient(to bottom,
            transparent,
            black 5%,
            black 95%,
            transparent);
    background: var(--color-gradient-start);
    background: radial-gradient(circle,
            var(--color-gradient-start) 0%,
            var(--color-gradient-end) 100%);
    padding: 4rem 3rem;
}

.sec-4 {
    padding: 4rem 3rem;
}

/* blurCard */
.blurCard {
    background: var(--color-blurCard-background);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: var(--color-blurCard-text);
    margin: 10px 0;
    box-shadow: 1px 0px 10px var(--color-blurCard-shadow);
    border: solid 2px var(--color-blurCard-border);
    height: 20.5rem;
}

.blurCard:hover {
    background: var(--color-blurCard-hover-background);
    transition: ease 0.4s all;
}

.blurCard .card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/*  */

/* sec-3 */
.sec-3 .title {
    color: var(--gradient-btn-background);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--gradient-bg1);
    font-size: 72px;
    font-weight: 800;
    width: 60%;
}

.sec-3 .title~p {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.4;
    width: 60%;
}

.motion-img1,
.motion-img2,
.motion-img3,
.motion-img4,
.motion-img5,
.motion-img6,
.motion-img7 {
    transition: transform 0.3s ease-out;
}

.sec-3 .video-box .video {
    position: absolute;
    top: 0%;
    left: -5%;
    border-radius: 12px;
    z-index: 1;
}

.sec-3 .video-box .img {
    position: relative;
    top: 4rem;
    left: 3rem;
    border-radius: 12px;
}

/* sec-4 */
.sec-4 .title1,
.sec-4 .title2,
.sec-4 .title3,
.sec-4 .title4,
.sec-4 .title5,
.sec-4 .title6 {
    font-size: 30px;
    color: var(--color-pink);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(100deg,
            var(--color-pink) 0%,
            var(--color-pink1) 100%);
}

.sec-4 .title2 {
    color: var(--color-pink2);
    background-image: linear-gradient(96deg,
            var(--color-pink2) 0%,
            var(--color-pink3) 100%);
}

.sec-4 .title3 {
    color: var(--color-yellow);
    background-image: linear-gradient(96deg,
            var(--color-yellow) 0%,
            var(--color-yellow1) 100%);
}

.sec-4 .title4 {
    color: var(--color-green);
    background-image: linear-gradient(96deg,
            var(--color-green) 0%,
            var(--color-green1) 100%);
}

.sec-4 .title5 {
    color: var(--color-light-green);
    background-image: linear-gradient(96deg,
            var(--color-light-green) 0%,
            var(--color-light-green1) 100%);
}

.sec-4 .title6 {
    color: var(--color-light-blue);
    background-image: linear-gradient(96deg,
            var(--color-light-blue) 0%,
            var(--color-light-blue1) 100%);
}

.sec-4 .imgsBox1 {
    background-color: var(--color-light-blue2);
}

.sec-4 .imgsBox1 img {
    width: 100%;
    margin: auto;
}

.sec-4 .imgsBox1 .motion-img3 {
    width: 70%;
    bottom: 0;
    left: 15%;
}

.sec-4 .subtitle {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.25em;
}

.sec-4 .text {
    color: var(--color-grey);
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67em;
}

.sec-4 .sliderBox {
    background: var(--color-yellow);
}

.sec-4 .popUpImgsBox {
    background: var(--color-green2);
    height: 100%;
}

.sec-4 .popUpImgsBox img {
    border-radius: 8px;
}

.sec-4 .popUpImgsBox .motion-img4 {
    width: 42%;
    right: 3rem;
    top: -3rem;
}

.sec-4 .popUpImgsBox .motion-img5 {
    width: 45%;
    margin-bottom: 8rem;
}

.sec-4 .popUpImgsBox .motion-img6 {
    width: 28%;
    right: 1.5rem;
    bottom: -3.5rem;
}

.sec-4 .popUpImgsBox .motion-img7 {
    bottom: -3.5rem;
    left: 25%;
    width: 38%;
}

/* sec-5 */
.sec-5 {
    background-color: var(--color-black1);
}

.sec-5 .title,
.sec-7 .title {
    font-size: 170px;
    font-weight: 800;
    line-height: 1;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    background-image: var(--gradient-bg2);
    background-size: 300% 100%;
    animation: AnimatedGradientBgLeft 3s ease infinite;
}

.sec-5 .subTitle {
    color: var(--color-white);
    font-size: 46px;
    font-weight: 700;
    line-height: 1.5;
}

.sec-5 .iconBox p {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    width: 15%;
}

.sec-5 button {
    width: 360px;
    height: 85px;
    border-color: var(--color-pink4);
    line-height: 1;
    text-align: center;
    color: var(--gradient-btn-background);
    font-size: 22px;
    font-weight: 700;
}

.sec-5 button:hover {
    background-color: var(--gradient-btn-background);
    background-image: var(--gradient-btn-background-img);
    color: var(--color-white);
    border-color: transparent;
}

.sec-5 .imgGroup img:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.sec-5 .scroll {
    height: 130vh;
    max-height: 130vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    mask-image: linear-gradient(to bottom,
            transparent,
            black 10%,
            black 90%,
            transparent);
}

/* sec-6 */
.sec-6 .title .cust.fs-1 {
    color: var(--color-blurCard-text);
    font-weight: 900 !important;
    width: 80%;
}

.sec-6 .row-1 {
    background-image: radial-gradient(circle at top,
            var(--color1) 0%,
            var(--color2) 3%,
            var(--color3) 6%,
            var(--color4) 9%,
            var(--color5) 10%,
            var(--color6) 15%,
            var(--color7) 20%,
            var(--color8) 25%,
            var(--color9) 30%,
            var(--color10) 36%);
    background-size: 430% 380%;
    background-position: center;
    background-repeat: no-repeat;
}

.sec-6 .row-1 .col-sm-6 {
    padding-top: 4rem !important;
}

.sec-6 .row-1 h3.title,
.sec-6 .row-5 h3.title {
    font-size: 2.625rem;
}

.sec-6 .row-3 .subTitle,
.sec-6 .row-2 div p {
    width: 45%;
}

.sec-6 .row-3 .gradient-bg {
    background-color: transparent;
    background-image: var(--gradient-bg);
}

.sec-6 .row-5 {
    background-image: radial-gradient(circle at top,
            var(--color-purple-1) 0%,
            var(--color-purple-2) 3%,
            var(--color-purple-3) 6%,
            var(--color-purple-4) 9%,
            var(--color-purple-5) 10%,
            var(--color-purple-6) 15%,
            var(--color-purple-7) 20%,
            var(--color-purple-8) 25%,
            var(--color-purple-9) 30%,
            var(--color-purple-10) 36%);
    background-size: 120% 150%;
    background-position: center;
    background-repeat: no-repeat;
}

.sec-6 .row-5 .subTitle {
    width: 80%;
    margin: auto;
}

.sec-6 .row-5 h3.title {
    margin: auto;
    width: 60%;
    font-size: 42px;
    font-weight: 800;
}

.sec-6 .row-5 .subTitle {
    margin: auto;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
}

.sec-6 .row-5 .text-purple {
    color: var(--color-purple);
}

.sec-6 .marqueeSlider {
    height: 35rem;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 0;
}

.sec-6 .marquee {
    height: auto;
    width: max-content;
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0;

    animation: moveSlideshow 12s linear infinite;
}

.sec-6 .marquee .col-md-4.col-12 {
    display: inline-block;
    vertical-align: middle;
    width: 25rem;
    margin: 0;
}

.sec-6 .btn-purple {
    font-size: 12px;
    color: var(--color-white);
    font-weight: 600;
    background-color: var(--color-purple1);
    background-image: linear-gradient(250deg,
            var(--color-purple1) 0%,
            var(--color-purple) 100%);
}

.sec-6 .btm-row .text-1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.sec-6 .btm-row .text-2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: var(--color-footer-text);
}

.sec-6 .row-6 .title,
.sec-6 .row-7 .title {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.375;
}

.sec-6 .row-6 .body,
.sec-6 .row-7 .body {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
}

.sec-6 .row-6 .gradient-bg-blue {
    overflow: hidden;
    height: 100%;
}

.sec-6 .row-6 .gradient-bg-blue .bodyImg {
    width: 90%;
    position: relative;
    right: -3rem;
    bottom: -1.5rem;
}

.sec-6 .row-7 .gradient-bg-purple {
    background-color: var(--color-purple1);
    background-image: linear-gradient(250deg,
            var(--color-purple1) 0%,
            var(--color-purple) 100%);
}

.sec-6 .row-7 .topBody {
    width: 60%;
}

.sec-6 .row-7 .expCheckout {
    width: fit-content;
}

/* .sec-7 */
.sec-7 .title {
    font-size: 100px;
    line-height: 1;
}

.sec-7 .subTitle {
    font-size: 52px;
    font-weight: 800;
    line-height: 1.25;
}

.sec-7 .animatedSvg {
    position: absolute;
    top: -35%;
    right: 8%;
    width: 18rem;
    height: auto;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
    animation: upDownAnimate 5s infinite ease-in-out;
}

.sec-7 .btm-row .text-1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5em;
}

.sec-7 .btm-row .text-2 {
    color: var(--color-black3);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.87em;
}

/* .sec-8 */
.sec-8 {
    background: radial-gradient(circle at 37.77% 39.48%,
            var(--color-pink5) 0%,
            transparent 50%),
        radial-gradient(circle at 62.14% 51.19%,
            var(--color-light-blue3) 0%,
            transparent 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
}

.sec-8 .row-1 .title {
    font-size: 100px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.02em;
    padding: 4rem 3rem;
}

.sec-8 .row-1 .title span {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--gradient-bg3);
    background-size: 300% 100%;
    animation: AnimatedGradientBgLeft 3s ease infinite;
}

.sec-8 .carousel .carousel-item .text {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.55;
    width: 80%;
    margin: auto;
}


.sec-8 .upSideDownSlider {
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}

.sec-8 .upSideDownSlider .card {
    color: var(--color-black1);
    padding: 0.7rem;
    background-color: var(--color-white);
    border-radius: 1.4rem;
    border: none;
}

.sec-8 .upSideDownSlider .card-body .card-title {
    font-size: 1rem;
    font-weight: 600;
}

.sec-8 .upSideDownSlider .card-body .img {
    width: 1.5rem;
}

.sec-8 .upSideDownSlider .card-body .stars img {
    width: 1rem;
}

.sec-8 .upSideDownSlider .card-body .card-text {
    color: var(--color-grey);
    font-size: 0.8rem;
}


.sec-8 .upSideDownSlider .sliderUp .item,
.sec-8 .upSideDownSlider .sliderDown .item,
.sec-8 .upSideDownSlider .sliderUp1 .item,
.sec-8 .upSideDownSlider .sliderDown1 .item {
    height: auto;
    margin: 0 1rem;
    margin-bottom: 1.5rem;
}

.sec-8 .upSideDownSlider .sliderUp .item:first-child,
.sec-8 .upSideDownSlider .sliderDown .item:first-child,
.sec-8 .upSideDownSlider .sliderUp1 .item:first-child,
.sec-8 .upSideDownSlider .sliderDown1 .item:first-child {
    margin-top: 1.5rem;
}

.sec-8 .upSideDownSlider .tns-outer button {
    display: none;
}


/* sec-9 */
.sec-9 {
    background-color: transparent;
    background-image: linear-gradient(140deg,
            #2011a2 50%,
            #852d91 100%);
    padding: 4rem 3rem;
    overflow: hidden;
}

.sec-9 .gradient-btn {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    border-radius: 50px;
    color: var(--color-white);
    background-image: var(--gradient-bg2);
    background-size: 300% 100%;
    animation: AnimatedGradientBgLeft 3s ease infinite;
}

.sec-9 .gradient-btn:hover {
    color: var(--color-white);
    animation: none;
}

.sec-9 .perp {
    perspective: 1000px;
}

.sec-9 .text-3d {
    font-size: 3rem;
    transition: transform 0.1s ease;
    display: inline-block;
    padding: 4rem 3rem;
    color: var(--color-white);
    -webkit-text-fill-color: initial;
    font-size: 80px;
    font-weight: 800;
    line-height: 1.375em;
    width: 80%;
    margin: auto;
    padding-top: 2rem;
}

.sec-9 .text-3d:hover {
    transform: rotateX(10deg) rotateY(10deg);
}

.sec-9 .iconBox {
    width: 80%;
    margin: auto;
}

.sec-9 .iconBox figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.7rem;
}

.sec-9 .iconBox figure img {
    width: 80px;
}

.sec-9 .iconBox figure figcaption {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    width: 80%;
}


.sec-9 .textBoxes {
    width: 110%;
    margin-left: -3rem;
}

.sec-9 .textBoxes .marquee {
    display: flex;
    gap: 2rem;
    width: 100%;

    animation: textBoxes 20s ease-in-out infinite;
}

.sec-9 .textBoxes .marquee:hover {
    animation-play-state: paused;
}

.sec-9 .textBoxes .marquee div {
    background-color: var(--color-grey1);
    width: fit-content;
    border-radius: 50px;
    padding: 1rem 2rem;
    font-weight: 500;
    text-wrap: nowrap;
}



@keyframes textBoxes {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -50%;
    }
}

/* footer */

.footer h5 {
    font-weight: 600;
    margin-bottom: 1.6rem;
    font-size: 1.2rem;
}

.footer ul li {
    margin-top: 0.3rem;
    color: var(--color-footer-text);
}

.footer ul li:hover {
    color: white;
}

.footer.bg-dark {
    background-color: black !important;
}

.footer img {
    filter: invert();
    width: 1.5rem;
}

.footer img:hover {
    filter: invert(0.6);
}

.footer .w-max {
    width: max-content;
    font-size: 0.8rem;
}

@media screen and (max-width: 576px) {
    .cust.fs-1 {
        font-size: 35px !important;
        width: fit-content !important;
    }

    .motion-img4,
    .motion-img5,
    .motion-img6,
    .motion-img7 {
        transform: translateY(0) !important;
    }

    .sec-2,
    .sec-3,
    .sec-4 {
        padding: 2rem;
    }

    .container.my-5 {
        margin: 2rem auto !important;
    }

    .sec-3 .title {
        font-size: 35px;
        width: 80%;
    }

    .sec-3 .title~p {
        font-size: 20px;
        width: fit-content;
    }

    .sec-4 .title1,
    .sec-4 .title2,
    .sec-4 .title3,
    .sec-4 .title4,
    .sec-4 .title5,
    .sec-4 .title6 {
        font-size: 22px;
    }

    .sec-4 .subtitle {
        font-size: 25px;
    }

    .sec-4 .text {
        font-size: 16px;
    }

    .sec-4 .popUpImgsBox .motion-img4 {
        width: 64%;
        right: 1rem;
        top: 1rem;
        z-index: 1;
    }

    .sec-4 .popUpImgsBox .motion-img5 {
        width: 50%;
        margin-top: 2rem;
    }

    .sec-4 .popUpImgsBox .motion-img6 {
        width: 40%;
        right: 1rem;
        bottom: 0.5rem;
    }

    .sec-4 .popUpImgsBox .motion-img7 {
        bottom: -0.5rem;
        left: 15%;
        width: 48%;
    }

    .sec-5 .title {
        font-size: 70px;
    }

    .sec-5 .subTitle {
        font-size: 20px;
    }

    .sec-5 .iconBox p {
        width: 35%;
    }

    .sec-6 .title .cust.fs-1 {
        font-size: 1.75rem !important;
        line-height: 1.2 !important;
    }

    .sec-6 .row-1 {
        background-size: 650% 270%;
        margin: 0;
    }

    .sec-6 .row-1>div>h3,
    .sec-6 .row-2 div h3,
    .sec-6 .row-3 div h3 {
        font-size: 1.625rem !important;
    }

    .sec-6 .row-1>div>h3,
    .sec-6 .row-1>div>p,
    .sec-6 .row-2 div p,
    .sec-6 .row-3 div p {
        width: fit-content;
    }

    .sec-6 .row-2 {
        gap: 1rem;
    }

    .sec-6 .row-5 h3.title {
        font-size: 24px;
        width: fit-content;
    }

    .sec-6 .row-5 .subTitle {
        width: fit-content;
        font-size: 14px;
    }

    .sec-6 .marqueeSlider {
        height: 24rem;
    }

    .sec-6 .marquee .col-md-4.col-12 {
        width: 17rem;
    }

    @keyframes moveSlideshow {
        100% {
            transform: translateX(-1300px);
        }
    }

    .sec-6 .row-6 .img1 {
        width: 60%;
        margin: auto;
    }

    .sec-6 .row-7 .topBody {
        width: fit-content;
    }

    .sec-6 .row-7 .expCheckout {
        width: fit-content;
    }

    .sec-8 .row-1 .title,
    .sec-7 .title {
        font-size: 40px;
    }

    .sec-7 .subTitle {
        font-size: 32px;
    }

    .sec-7 .animatedSvg {
        top: -55%;
        right: 0%;
        width: 9rem;
    }

    .sec-9 .text-3d,
    .sec-8 .row-1 .title {
        font-size: 32px;
        padding: 2rem;
        width: fit-content;
    }


    .sec-8 .carousel .carousel-item .text {
        font-size: 18px;
        width: 70%;
    }

    @keyframes textBoxes {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: -500%;
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .cust.fs-1 {
        font-size: 65px !important;
        width: fit-content !important;
    }

    .motion-img4,
    .motion-img5,
    .motion-img6,
    .motion-img7 {
        transform: translateY(0) !important;
    }

    .sec-2,
    .sec-3,
    .sec-4 {
        padding: 2rem;
    }

    .sec-4 {
        padding-top: 0;
    }

    .container.my-5 {
        margin: 2rem auto !important;
    }

    .sec-3 .title {
        font-size: 65px;
        width: 80%;
    }

    .sec-3 .title~p {
        font-size: 36px;
        width: fit-content;
    }

    .sec-3 .video-box {
        width: 90%;
        margin: auto;
    }

    .sec-4 .title1,
    .sec-4 .title2,
    .sec-4 .title3,
    .sec-4 .title4,
    .sec-4 .title5,
    .sec-4 .title6 {
        font-size: 22px;
    }

    .sec-4 .subtitle {
        font-size: 25px;
    }

    .sec-4 .text {
        font-size: 16px;
    }

    .sec-4 .imgsBox1 .motion-img3 {
        width: 80%;
        bottom: 0;
        left: 10%;
    }

    .sec-4 .popUpImgsBox .motion-img4 {
        width: 64%;
        right: 1rem;
        top: 1rem;
        z-index: 1;
    }

    .sec-4 .popUpImgsBox .motion-img5 {
        width: 60%;
    }

    .sec-4 .popUpImgsBox .motion-img6 {
        width: 40%;
        right: 1rem;
        bottom: 0.5rem;
    }

    .sec-4 .popUpImgsBox .motion-img7 {
        bottom: -0.5rem;
        left: 15%;
        width: 48%;
    }

    .sec-5 .title {
        font-size: 100px;
    }

    .sec-5 .subTitle {
        font-size: 35px;
    }

    .sec-5 .iconBox p {
        width: 35%;
    }

    .sec-6 .title .cust.fs-1 {
        font-size: 3rem !important;
        line-height: 1.2 !important;
    }

    .sec-6 .row-1 {
        background-size: 650% 360%;
    }

    .sec-6 .row-1>div>h3 {
        font-size: 2.625rem;
    }

    .sec-6 .row-1>div>h3,
    .sec-6 .row-1>div>p,
    .sec-6 .row-2 div p,
    .sec-6 .row-3 div p {
        width: 65%;
    }

    .sec-6 .row-2 {
        gap: 1rem;
    }

    .sec-6 .row-5 h3.title {
        width: fit-content;
    }

    .sec-6 .row-5 .subTitle {
        width: fit-content;
    }

    .sec-6 .marquee .col-md-4.col-12 {
        width: 17rem;
    }

    .sec-6 .marqueeSlider {
        height: 24rem;
    }

    @keyframes moveSlideshow {
        100% {
            transform: translateX(-1020px);
        }
    }

    .sec-6 .row-6 .img1 {
        width: 60%;
        margin: auto;
    }

    .sec-6 .row-7 .topBody {
        width: 80%;
    }

    .sec-6 .row-7 .expCheckout {
        width: 90%;
    }

    .sec-7 .title {
        font-size: 65px;
    }

    .sec-7 .subTitle {
        font-size: 42px;
    }

    .sec-7 .animatedSvg {
        top: -55%;
        right: 0%;
        width: 15rem;
    }

    .sec-9 .text-3d,
    .sec-8 .row-1 .title {
        font-size: 50px;
        padding: 2rem;
        width: fit-content;
    }

    .sec-8 .carousel .carousel-item .text {
        font-size: 24px;
        width: 70%;
    }

    @keyframes textBoxes {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: -200%;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .sec-4 .title1,
    .sec-4 .title2,
    .sec-4 .title3,
    .sec-4 .title4,
    .sec-4 .title5,
    .sec-4 .title6 {
        font-size: 22px;
    }

    .sec-4 .subtitle {
        font-size: 25px;
    }

    .sec-4 .text {
        font-size: 18px;
    }

    .sec-4 .imgsBox1 .motion-img3 {
        width: 80%;
        bottom: 0;
        left: 10%;
    }

    .sec-5 .title {
        font-size: 100px;
    }

    .sec-5 .subTitle {
        font-size: 35px;
    }

    .sec-5 .iconBox p {
        width: 35%;
    }

    .sec-6 .title .cust.fs-1 {
        font-size: 3rem !important;
        line-height: 1.2 !important;
    }

    .sec-6 .row-1 {
        background-size: 650% 360%;
    }

    .sec-6 .row-1>div>h3 {
        font-size: 2.625rem;
    }

    .sec-6 .row-1>div>h3,
    .sec-6 .row-1>div>p {
        width: 65%;
    }

    .sec-6 .row-2 {
        gap: 1rem;
    }

    .sec-6 .row-2 div p,
    .sec-6 .row-3 div p {
        width: 85%;
    }

    .sec-6 .row-5 h3.title,
    .sec-6 .row-5 .subTitle {
        width: 80%;
    }

    .sec-6 .marqueeSlider {
        height: 24rem;
    }

    .sec-6 .marquee .col-md-4.col-12 {
        width: 17rem;
    }

    @keyframes moveSlideshow {
        100% {
            transform: translateX(-768px);
        }
    }

    .sec-6 .row-6 .img1 {
        width: 90%;
        margin: auto;
    }

    .sec-6 .row-7 .topBody {
        width: 80%;
    }

    .sec-6 .row-7 .expCheckout {
        width: 80%;
    }

    .sec-7 .title {
        font-size: 60px;
    }

    .sec-7 .subTitle {
        font-size: 42px;
    }

    .sec-7 .animatedSvg {
        top: -55%;
        right: 12%;
        width: 15rem;
    }

    .sec-9 .text-3d,
    .sec-8 .row-1 .title {
        font-size: 60px;
        padding: 2rem;
        width: fit-content;
    }

    .sec-8 .carousel .carousel-item .text {
        font-size: 24px;
        width: 70%;
    }

    @keyframes textBoxes {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: -130%;
        }
    }

}

@media (min-width: 992px) {

    .sec-5 .title,
    .sec-7 .title {
        font-size: 150px;
    }

    .sec-5 .iconBox p {
        color: var(--color-white);
        font-size: 14px;
        font-weight: 500;
        width: 29%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .navbar .container {
        max-width: 1024px !important;
    }

    .sec-6 .row-3 .subTitle,
    .sec-6 .row-3 h3,
    .sec-6 .row-2 h3,
    .sec-6 .row-2 div p {
        width: 80%;
    }

    .sec-8 .row-1 .title {
        font-size: 64px;
        padding: 2rem;
    }

    @keyframes textBoxes {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: -56%;
        }
    }
}